/*main*/
/*{% load static %}*/
.main {
    z-index: 1;
    overflow: hidden;
}
.container-fluid {
    overflow: hidden;
}

/*HEADER*/

.header {
}
.nav-item {
    height: 25px;
}
.nav .navbar .navbar-light .navbar-expand-sm {
    height: 60px;
    background-color: white;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #303131;
    text-transform: uppercase;
    position: relative;
    border-top: 3px solid transparent;
    -webkit-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #A69B5D;
    border-top: 3px solid #A69B5D;
    transition: .8s all;
}
.offcanvas-end {
    width: 250px;
}
/*MAP*/
#map {position: absolute; top:0; bottom:0; right:0; left:0; z-index: -1;}

/*ICONS*/
.icon-wrapper {
    position: relative;
}
.icon {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: fit-content;
    right: 10px;
    margin-top: 150px;
}
.icon-img {
    width: 45px;
    background: white;
    border-radius: 3px;
    padding: 5px;
}
.person {
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.65);
    margin-top: 20px;
    border-radius: 3px;
}
.person :active {
     box-shadow: inset 0 0 5px rgb(0 0 0 / 80%);
}
.home {
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.65);
    margin-top: 20px;
    border-radius: 3px;
}
.home :active{
    box-shadow: inset 0 0 5px rgb(0 0 0 / 80%);
}
.segment {
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.65);
    margin-top: 20px;
    border-radius: 3px;
}
.segment :active{
    box-shadow: inset 0 0 5px rgb(0 0 0 / 80%);

}
.route {
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.65);
    margin-top: 20px;
    border-radius: 3px;
}
.route :active{
    box-shadow: inset 0 0 5px rgb(0 0 0 / 80%);
}
.exit {
    display: none;
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.65);
    margin-top: 20px;
    border-radius: 3px;
}
.exit :active{
    box-shadow: inset 0 0 5px rgb(0 0 0 / 80%);
}
.leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
/*INFO*/
.info-wrapper {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
}
.info-box {
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 25%;
    padding: 10px 10px 1px 20px;
    left: -12px;
    scroll-behavior: smooth;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x:hidden;
}
.info-box h2 {
    font-size: 24px;
    font-weight: lighter;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}
.mark-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.marks h1 {
    font-size: 35pt;
    color: brown;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px 1px 0px 10px
}
.info-box h4 {
    font-size: 10pt;
    font-weight: lighter;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
}
.review-wrapper {
    padding-left: 10px;
}
.author {
   font-size: 14pt;
    font-weight: bold;
    color: #a8612d;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    margin-top: 20px;
}
.author-score{
     font-size: 11pt;
    font-weight: lighter;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
}
.type {
    font-size: 11pt;
    font-weight: lighter;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
}
.description {
    font-size: 11pt;
    font-weight: lighter;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px
}
.add-info {
    margin: 20px 10px 10px 10px;
    border: none;
    padding: 5px;
    font-size: 14pt;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    background-color: #d28751;
    color: #fff;
    width: 90%;
}
.add-info :hover {
    background-color: #b56c14;
}
.close {
    width: 35px;
    height: 35px;
    padding: 7px;
    position: absolute;
    right: 5px;
    top: auto;
}
.rating-area {
	overflow: hidden;
	width: max-content;
	margin: 10px 0px 10px 0px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 40px;
	line-height: 32px;
	color: #5a5a5a;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
.rating-result {
	width: max-content;
    margin: 0px 0px 10px 20px;
    display: flex;
    /*flex-direction: row-reverse;*/
}

.star-check{
 display: none;
}
.str{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/static/img/yellow-s.png");
}
.m {
    margin-top:20px;
}
#star1:checked ~ .m :nth-child(1),
#star2:checked ~ .m :nth-child(-n+2),
#star3:checked ~ .m :nth-child(-n+3),
#star4:checked ~ .m :nth-child(-n+4),
#star5:checked ~ .m :nth-child(-n+5){
  background:url("/static/img/white-s.png")
}
/*NAVIGATION FORM*/
.formBlock {
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}

/*.leaflet-top .leaflet-control {*/
/*    margin-top: 180px;*/
/*}*/

.input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    border-radius: 3px;
}

#form {
    padding: 0;
    margin: 0;
}
input:nth-child(1) {
    margin-bottom: 10px;
}
/*GRADE FORM*/
.grade-wrapper {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;

}
.grade-box {
    position: fixed;
    transition: 0.4s;
    background-color: rgba(255,255,250, 0.6);
    top: 115px;
    left: 30px;
    max-width: 300px;
}
#form-map {
    padding: 10px;
}
.grade-box :hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.title{
    font-size: 24px;
    font-weight: lighter;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
}
.grade-element {
    background-color: #68904D;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    min-height: 43px;
    padding: 10px 9px 9px 9px;
    margin: 5px 0;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.element-wrapper :hover {
    background-color: #f3d8c1!important;
    color: #272323;
}
.grade-element :focus {
    background-color: #68904D;
    -moz-box-shadow: 0px 1px 2px transparent, inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px transparent, inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px transparent, inset 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.grade-element :active {
    background-color: #68904D;
    -moz-box-shadow: 0px 1px 2px transparent, inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px transparent, inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px transparent, inset 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.element-option {
    background-color: white;
    color: black;
}
.grade-button {
  transition: 0.2s;
    background-color: #E48716;
    color: #fff;
    width: 100%;
    height: 43px;
    margin: 5px 0;
    border: none;
}
.grade-button-wrapper :hover {
     background-color: #b56c14;
}
/*REGISTRATION LOGIN*/
.reg-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.img-wrapper {
    flex-basis: 400px;
    overflow: hidden;
}
.reg-img {
    width:100%
}
.form-wrapper {
    flex-basis: 400px;
    margin-left: 30px;
    margin-right: 30px;
}
.log-input {
    border: 1px solid #e6e6e6;
    padding: 10px;
    font-size: 18px;
    color: #666;
    margin: 10px 0px 10px 10px;
    width: 95%;
}
.log-submit {
    transition: 0.2s;
    background-color:  	#d28751;
    color: #fff;
    width: 95%;
    height: 43px;
    border: none;
    margin: 10px 0px 10px 10px;
    border-radius: 2.5px;
}
.log-maintext {
    margin: 0px 0px 5px 0px;
    text-align: center;
    font-size: 20px;
    color: #555;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.log-to-reg {
    text-align: center;
}
.link-reg{
    text-decoration: none;
    color: #555;
}

@media (max-width: 480px) {
    .info-wrapper {

    }
    .info-box {
        position: fixed;
        background-color: rgb(255, 255, 255);
        height: 260px;
        width: 100%;
        bottom: 70px;
        left: 0px;
    }
    .button-wrapper {
        position: fixed;
        bottom: 0px;
        background-color: white;
        height: 70px;
        width: 100%;
        z-index: 1000;
        left: 0px;
    }
    .add-info {
        margin: 20px 10px 20px 30px;
        border: none;
        padding: 5px;
        font-size: 14pt;
        position: fixed;
        bottom: 0px;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        transition: 0.2s;
        background-color: #d28751;
        color: #fff;
    }
    .add-info :active {
    background-color: #b56c14;
     }
    .grade-box {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        max-width: 100%;
    }
    #form-map {
        padding: 10px;
        width: 100vw;
    }
}
@media (max-width: 800px) {
    .img-wrapper {
        width: 0px;
        flex-basis: 0px;

    }
}
