{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href=" {% static  'fonts/font-awesome.css'%}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'css/osm.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/MarkerCluster.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/myowncss.css' %}" type="text/css">
</head>
<body>
<div class="main">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="reg-wrapper">
                                <div class="img-wrapper">
                                    <img class="reg-img" src="{% static "img/register-4.jpg"%}" title=""/>
                                </div>
                                <div class="form-wrapper">
                                    <div class="log-maintext">
                                        Войти в аккаунт
                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="text" name="username" class="log-input" placeholder="Имя">
                                        <input type="text" name="password" class="log-input" placeholder="Пароль">
                                        <div>
                                          <input type="submit" class="log-submit" name="authenticate_user" value="Войти">
                                        </div>
                                    </form>
                                    <div class="log-to-reg" id="log-to-reg">
                                        Зарегистрироваться
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</body>
    <script>
        var regLink = document.getElementById('log-to-reg')
        regLink.addEventListener("click", goToReg);

        function goToReg() {
            const baseurl="{% url 'main' %}";
            window.location.replace(baseurl + 'register/');
        }

    </script>
</html>