{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href=" {% static  'fonts/font-awesome.css'%}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'css/osm.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/MarkerCluster.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/myowncss.css' %}" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

{#    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />#}
{#    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>#}
    <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js" integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ==" crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.78.0/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.78.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

</head>
<body>
    <div class="main">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="formBlock">
                            <form id="form">
                                <input type="text" name="start" class="input" id="start" placeholder="Choose starting point" />
                                <input type="text" name="end" class="input" id="destination" placeholder="Choose starting point" />
                                <button type="submit">Get Directions</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info-wrapper" id="info-wrapper">
                            <div class="info-box">
                                <img id="close" class="close" src="{% static "img/crosses.jpg"%}"  title="Закрыть" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mark-wrapper">
                                            <div class="marks">
                                                <h1 id="marks"></h1>
                                            </div>
                                            <div class="rating-result"  id="m">
                                                <input type="radio" id="star1" name="stars" class="star-check">
                                                <input type="radio" id="star2" name="stars" class="star-check">
                                                <input type="radio" id="star3" name="stars" class="star-check">
                                                <input type="radio" id="star4" name="stars" class="star-check">
                                                <input type="radio" id="star5" name="stars" class="star-check">
                                                <div class="m" >
                                                  <label for="star1" class="str"></label>
                                                  <label for="star2" class="str"></label>
                                                  <label for="star3" class="str"></label>
                                                  <label for="star4" class="str"></label>
                                                  <label for="star5" class="str"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class = "info-header">
                                          <h2>Отзывы</h2>
                                        </div>
                                        <div class="review-wrapper" id="reviews-container">
                                            <div class="review" id="review-template" style="display: none">
                                                <p class="author"></p>
                                                <p class="date">15.21.2022</p>
                                                <div class="author-score">Тип: </div>
                                                <div class="type"></div>
                                                <div class="description"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class = "col-md-12">
                                        <div class="button-wrapper">
                                            <button class="add-info" id="add-info"> Добавить информацию</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon-wrapper">
                     <div class="icon">
                         <div id="person" class="person">
                             <img class="icon-img" src="{% static "img/person.jpg"%}"  title="Войти" />
                         </div>
                         <div id="home" class="home">
                             <img class="icon-img" src="{% static "img/homes.jpg"%}"  title="На главную" />
                         </div>
                         <div id="segment" class="segment">
                             <img class="icon-img" src="{% static "img/plus.jpg"%}" title="Добавить участок"/>
                         </div>
                         <div id="route" class="route">
                             <img class="icon-img" src="{% static "img/002-route-1.png"%}"  title="Построить маршрут" />
                         </div>
                         <div id="exit" class="exit">
                             <img class="icon-img" src="{% static "img/crosses.jpg"%}"  title="Закрыть" />
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map">

    </div>

<!--ОТРИСОВКА КАРТЫ --------------------------------------------------------------------------------------------------->
    <script>
      var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom:19,
          attribution: "&copy; <a href=\"https://osm.org/copyright\">OpenStreetMap</a> contributors"
      });

      var map = L.map('map', {
          center: [56.838011,60.597465],
          zoom: 14,
          layers: [osm]

      });



    </script>

<!--ПОЛУЧЕНИЕ ДАННЫХ О СЕГМЕНТЕ --------------------------------------------------------------------------------------->
    <script>
        let states = [
                {% for index, segment, score, description in segments %}
                {
                    "type": "Feature",
                    "index": {{ index }},
                    "properties":{
                            "mean_score":"{{ score }}",
                            "test": [
                    {% for description_score, description_type, description_comment, description_user in description %}
                        {
                            "score": "{{ description_score }}",
                            "type": "{{ description_type }}",
                            "description": "{{ description_comment }}",
                            "author": "{{ description_user }}",
                        },
                    {% endfor %}
                    ],
                    },
                    "geometry": {
                            "type": "LineString",
                            "coordinates":{{ segment }}
                    }
                },
            {% endfor %}
        ];
    </script>


<!--ОТРИСОВКА СЕГМЕНТОВ ----------------------------------------------------------------------------------------------->
    <script>
      var marks = document.getElementById('marks');
      var segment = 0;
      var stars = document.getElementById('m');
      var ndStars = 0;

      function onEachFeature(feature, layer) {
          layer.on('click', function (e) {
              // make visible
              document.getElementById('info-wrapper').style.display = 'block';

              // mean score at top
              marks.innerText = e.target.feature.properties.mean_score;
              ndStars = stars.children;
              ndStars[marks.innerText-1].checked = true;

              segment = e.target.feature.geometry.coordinates;

              const reviewsContainer = document.getElementById('reviews-container');
              //проверка на наличие дочерних записей и очистка

              while (reviewsContainer.lastChild && reviewsContainer.childNodes.length > 2) {
                  reviewsContainer.removeChild(reviewsContainer.lastChild);
              }

              const commentModels = e.target.feature.properties.test;
              // review template это шаблон нашего компонента отзыва - невидимый штмл элемент
              // он там наверху уже есть найди его по ид
              const reviewElement = document.getElementById('review-template');

              for (const commentModel of commentModels) {
                  // нам дали отличное логирование в js - давайте его юзать
                  console.log(commentModel);
                  // вот тута мы клонируем цей пустой элемент
                  const reviewView = reviewElement.cloneNode(true);
                  // вызываем на node методы element - потому что мы в js блин мы все тут можем
                  reviewView.removeAttribute('id');
                  reviewView.style.display = 'block';
                  // набиваем данными из модели
                  const author = reviewView.querySelector('.author');
                  const authorScore = reviewView.querySelector('.author-score');
                  const type = reviewView.querySelector('.type');
                  const description = reviewView.querySelector('.description');
                  author.innerText = commentModel.author;
                  authorScore.innerText = 'Оценка: ' + commentModel.score;
                  type.innerText = 'Тип: ' + commentModel.type;
                  description.innerText = commentModel.description;
                  // вставляем его в дом
                  reviewsContainer.append(reviewView)
              }
          });

      }
{##006400#}
       var dataLayer = L.geoJSON(states, {
        style: function(feature) {
            switch (feature.properties.mean_score) {
                case '1':
                    return {color: "#741717", weight: 4};
                case '2':
                    return {color: "#B22222", weight: 4};
                case '3':
                    return {color: "#FF8C00", weight: 4};
                case '4':
                    return {color: "#FFD700", weight: 4};
                case '5':
                    return {color: "#2E8B57", weight: 4};
            }
        },
        onEachFeature: onEachFeature
      }).addTo(map);
      var baseMaps = {
    "OpenStreetMap": osm

    };

    var overlayMaps = {
    "Quality": dataLayer
    };


      map.zoomControl.setPosition('topright');
      L.control.locate().setPosition('topright').addTo(map);

      var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);
    </script>


<!--ДОБАВЛЕНИЕ ИНФО О СУЩЕСТВУЮЩЕМ УЧАСТКЕ С ПЕРЕХОДОМ НА SHOWROUTE---------------------------------------------------->
    <script>
        var infoButton = document.getElementById('add-info');
        infoButton.onclick = function (e) {
            const baseurl="{% url 'main' %}";
            const route_url=baseurl + 'segment/' + [segment[0][1]]+','+[segment[0][0]]+','+[segment[segment.length - 1][1]]+','+[segment[segment.length - 1][0]];
            window.location.replace(route_url);
            console.log(segment)
        }
    </script>

    <!--ПЕРЕХОД НА SHOWROUTE/НАВИГАЦИЮ-->
    <script>
        var segmentButton = document.getElementById('segment');
        var routeButton = document.getElementById('route');
        var gcs = L.esri.Geocoding.geocodeService();
        var count=0;
        var start_lat = 0;
        var start_lon = 0;
        var end_lat = 0;
        var end_lon = 0;
        let a = 0;
        <!--переменные кнопок -->
        var exit = document.getElementById('exit');
        var home = document.getElementById('home');
        var person = document.getElementById('person');
        let close = document.getElementById('close');

        segmentButton.addEventListener("click", getRouteCoordinates);
        routeButton.addEventListener("click", getRouteNavigationCoordinates);
        exit.addEventListener("click", exitClick);
        home.addEventListener('click', goHome);
        person.addEventListener('click', goToPerson);
        close.addEventListener("click", closeClick);

        function closeClick() {
          document.getElementById('info-wrapper').style.display = 'none';
        }
        function exitClick() {
            location.reload();
        }
        function goHome() {
            const baseurl="{% url 'main' %}";
            window.location.replace(baseurl);
        }
        function goToPerson() {
            window.location.replace('login/');
        }

        <!--маршрут и переход на showroute-->
         function getRouteCoordinates () {
            exit.style.display = 'block';
             map.on('click', function (e){
                 count += 1;
                 console.log(e);
                 if(e.latlng){
                        gcs.reverse().latlng(e.latlng).run((err, res)=>{
                        if(err) return;
                        if (count === 1){
                            L.marker(res.latlng).addTo(map).bindPopup(res.address.Match_addr).openPopup();
                             start_lat =res.latlng['lat'];
                             start_lon =res.latlng['lng'];
                        }
                        else if(count===2){
                            L.marker(res.latlng).addTo(map).bindPopup(res.address.Match_addr).openPopup();
                            end_lat =res.latlng['lat'];
                            end_lon =res.latlng['lng'];
                            const baseurl="{% url 'main' %}";
                            const route_url=baseurl+ 'segment/' + start_lat + ',' + start_lon + ',' + end_lat + ',' + end_lon;
                            count=0;
                            window.location.replace(route_url);
                        }
                    });
                    }
                    else {
                        console.log('e не найдено')
                    }
             });
         }

<!--маршрут и переход на навигацию-->
         function getRouteNavigationCoordinates () {
            exit.style.display = 'block';
            map.on('click', function (e){
                count += 1;
                console.log(e);
                if(e.latlng){
                    gcs.reverse().latlng(e.latlng).run((err, res)=>{
                        if(err) return;
                        if (count === 1){
                            L.marker(res.latlng).addTo(map).bindPopup(res.address.Match_addr).openPopup();
                             start_lat =res.latlng['lat'];
                             start_lon =res.latlng['lng'];
                        }
                        else if(count===2){
                            L.marker(res.latlng).addTo(map).bindPopup(res.address.Match_addr).openPopup();
                            end_lat =res.latlng['lat'];
                            end_lon =res.latlng['lng'];
                            const baseurl="{% url 'main' %}";
                            const route_url=baseurl + 'navigation/' + start_lat + ','+ start_lon +','+ end_lat+','+end_lon;
                            count=0;
                            window.location.replace(route_url);
                        }
                    });
                }
                else {
                    console.log('e не найдено')
                }
            });
         }
    </script>
</body>
</html>