{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Построить маршрут</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href=" {% static  'fonts/font-awesome.css'%}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'css/osm.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/MarkerCluster.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/myowncss.css' %}" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

   <div class="main">
        <div class="container-fluid">
            <div class="icon-wrapper">
                     <div class="icon">
                         <img id="home" class="home" src="{% static "img/home.png"%}"  title="Домой" />
                         <img id="segment" class="segment" src="{% static "img/009-star-1.png"%}" title="Добавить участок"/>
                         <img id="route" class="route" src="{% static "img/002-route-1.png"%}"  title="Построить маршрут" />
                         <img id="exit" class="exit" src="{% static "img/010-close-1.png"%}"  title="Закрыть" />
{#                         <img id="loc" class="location" src="{% static "img/012-placeholder.png"%}"  title="Моё местоположение" />#}
                     </div>
            </div>
        </div>
    </div>
<div id="map">

   </div>

    <script>
        var states = [{
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "LineString",
                "coordinates": {{ coordinates }}
            },
        }];
    </script>

   <script>
       var home = document.getElementById('home');
        home.addEventListener('click', goHome);

        function goHome() {
            const baseurl="{% url 'main' %}";
            window.location.replace(baseurl);
        }
   </script>

    <script>
      var map = L.map('map').setView([56.8,60.6], 15);
      data={};
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      function onEachFeature(feature, layer) {

      }
      L.geoJSON(states).addTo(map);

    </script>
</body>
</html>