{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link href=" {% static  'fonts/font-awesome.css'%}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{#        <link rel="stylesheet" href="{% static  'css/bootstrap-select.min.css' %}" type="text/css">#}
{#        <link rel="stylesheet" href="{% static  'css/jquery.slider.min.css' %}" type="text/css">#}
{#        <link rel="stylesheet" href="{% static  'css/owl.carousel.css' %}" type="text/css">#}
        <link rel="stylesheet" href="{% static  'css/osm.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/leaflet.css' %}" type="text/css">
{#        <link rel="stylesheet" href="{% static  'css/MarkerCluster.css' %}" type="text/css">#}
{#        <link rel="stylesheet" href="{% static  'css/style.css' %}" type="text/css">#}
        <link rel="stylesheet" href="{% static  'css/myowncss.css' %}" type="text/css">
{#        <link rel="stylesheet" href="{% static 'fonts/font-awesome.css' %}">#}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    {{map.header.render|safe}}
</head>

<style>
    body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }
    {##search {position: relative; background-color: #2a6496}#}
  </style>


<body class="page-homepage map-osm" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
    <div class="header">
        <nav class="">

        </nav>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="grade-wrapper">
                        <div class="grade-box">
                            <form method= "post" role="form" id="form-map">
                                    {% csrf_token %}
                                    <div class="title">Оцените качество дороги</div>
                                    <div class="element-wrapper">
                                        <select name="score" class="grade-element">
                                                    <option class="element-option" value="">Оценка</option>
                                                    <option class="element-option" value="1">1</option>
                                                    <option class="element-option" value="2">2</option>
                                                    <option class="element-option" value="3">3</option>
                                                    <option class="element-option" value="4">4</option>
                                                    <option class="element-option" value="5">5</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                    <div class="element-wrapper">
                                        <select name="type" class="grade-element">
                                                    <option class="element-option" value="">Тип</option>
                                                    <option class="element-option" value="0">Хорошая дорога</option>
                                                    <option class="element-option" value="1">Брусчатка</option>
                                                    <option class="element-option" value="2">Ямы</option>
                                                    <option class="element-option" value="3">Поребрики</option>
                                                    <option class="element-option" value="4">Ливневка</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                    <div class="element-wrapper">
                                        <input name="comment" type="text" class="grade-element" id="search-box-property-info" placeholder="Комментарий">
                                    </div>
                                    <div class="grade-button-wrapper">
                                        <button name="add_to_db_form" type="submit" class="grade-button">Отправить</button>
                                    </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div id="map">

    </div>

    <script>
        var states = [{
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "LineString",
                "coordinates": {{ coordinates }}
            }
        }];
    </script>

    <script>

      var map = L.map('map').setView([56.8,60.6], 15);
      map.zoomControl.setPosition('topright');
      data={};
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);


      L.geoJSON(states).addTo(map);

    </script>

    <script>
        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }
        map.on('click', onMapClick);
    </script>
</body>
</html>

