{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link href=" {% static  'fonts/font-awesome.css'%}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static  'css/osm.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/leaflet.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/myowncss.css' %}" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    {{map.header.render|safe}}
</head>

<style>
    body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }
  </style>


<body class="page-homepage map-osm" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
    <div class="header">
        <nav class="">

        </nav>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="grade-wrapper">
                        <div class="grade-box">
                            <form method= "post" role="form" id="form-map">
                                    {% csrf_token %}
                                    <div class="title">Оцените качество дороги</div>
                                    <div class="element-wrapper">
                                        <select name="score" class="grade-element">
                                                    <option class="element-option" value="">Оценка</option>
                                                    <option class="element-option" value="1">1</option>
                                                    <option class="element-option" value="2">2</option>
                                                    <option class="element-option" value="3">3</option>
                                                    <option class="element-option" value="4">4</option>
                                                    <option class="element-option" value="5">5</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                    <div class="element-wrapper">
                                        <select name="type" class="grade-element">
                                                    <option class="element-option" value="">Тип</option>
                                                    <option class="element-option" value="0">Хорошая дорога</option>
                                                    <option class="element-option" value="1">Брусчатка</option>
                                                    <option class="element-option" value="2">Ямы</option>
                                                    <option class="element-option" value="3">Поребрики</option>
                                                    <option class="element-option" value="4">Ливневка</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                    <div class="element-wrapper">
                                        <input name="comment" type="text" class="grade-element" id="search-box-property-info" placeholder="Комментарий">
                                    </div>
                                    <div class="grade-button-wrapper">
                                        <button name="add_to_db_form" type="submit" class="grade-button">Отправить</button>
                                    </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-wrapper">
                     <div class="icon">
                         <div id="person" class="person">
                             <img class="icon-img" src="{% static "img/person.jpg"%}"  title="Войти" />
                         </div>
                         <div id="home" class="home">
                            <img id="home" class="icon-img" src="{% static "img/homes.jpg"%}"  title="Домой" />
                         </div>
                     </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div id="map">

    </div>

    <script>
        var states = [{
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "LineString",
                "coordinates": {{ coordinates }}
            }
        }];
    </script>

    <script>
        var lat = states[0]["geometry"]["coordinates"][0][1]
        var lng = states[0]["geometry"]["coordinates"][0][0]

      var map = L.map('map').setView([lat,lng], 14);
      map.zoomControl.setPosition('topright');
      data={};
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);


      L.geoJSON(states).addTo(map);

    </script>

    <script>

        var lat1 = states[0]["geometry"]["coordinates"][0][1]
        var lng1 = states[0]["geometry"]["coordinates"][0][0]
        var length = states[0]["geometry"]["coordinates"].length
        var lat2 = states[0]["geometry"]["coordinates"][length-1][1]
        var lng2 = states[0]["geometry"]["coordinates"][length-1][0]

        var marker1 = L.marker([lat1, lng1]).addTo(map)
        var marker2 = L.marker([lat2, lng2]).addTo(map)

        var home = document.getElementById('home');
        var person = document.getElementById('person')
        home.addEventListener('click', goHome);
        person.addEventListener('click', goToPerson)


        function goHome() {
            const baseurl="{% url 'main' %}";
            window.location.replace(baseurl);
        }

        function goToPerson() {
            window.location.replace('login/');
        }
    </script>
</body>
</html>

