{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link href=" {% static  'fonts/font-awesome.css'%}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static  'css/bootstrap-select.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/jquery.slider.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/owl.carousel.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/osm.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/leaflet.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/MarkerCluster.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static  'css/myowncss.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome.css' %}">
    {{map.header.render|safe}}
</head>

<style>
    body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }
    {##search {position: relative; background-color: #2a6496}#}
  </style>


<body class="page-homepage map-osm" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
    <div class="header">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid">
                <img class="img" src="{% static 'css/img/member-01.jpg' %}">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
                        aria-controls="navbarOffcanvasLg">
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
                     aria-labelledby="navbarOffcanvasLgLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">KamenskTrip</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                            <a class="nav-link" href="history.html">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="filter.html">Войти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                        <div class="geo-location-wrapper">
                            <span class="btn geo-location"><i class="fa fa-map-marker"></i><span class="text">Find My Position</span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="grade-wrapper">
                            <div class="grade-box">
                                <form method= "post" role="form" id="form-map">
                                    {% csrf_token %}
                                    <h2>Оцените качество дороги</h2>
                                    <div>
                                        <select name="score" class="grade-element">
                                                    <option class="element-option" value="">Оценка</option>
                                                    <option class="element-option" value="1">1</option>
                                                    <option class="element-option" value="2">2</option>
                                                    <option class="element-option" value="3">3</option>
                                                    <option class="element-option" value="4">4</option>
                                                    <option class="element-option" value="5">5</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                    <div>
                                        <select name="type" class="grade-element">
                                                    <option class="element-option" value="">Тип</option>
                                                    <option class="element-option" value="0">Брусчатка</option>
                                                    <option class="element-option" value="1">Ямы</option>
                                                    <option class="element-option" value="2">Поребрики</option>
                                                    <option class="element-option" value="3">Ливневка</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                    <div>
                                        <input name="comment" type="text" class="grade-element" id="search-box-property-info" placeholder="Комментарий">
                                    </div>
                                    <div>
                                        <button name="add_to_db_form" type="submit" class="grade-button">Отправить</button>
                                    </div><!-- /.form-group -->
                                </form><!-- /#form-map -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Map -->
    <div id="map">
        {% if map %}
        {{ map.html.render|safe }}
        <script>
            {{ map.script.render|safe }}
        </script>
            {% endif %}
    </div>
    <!-- end Map -->

    <!-- Search Box -->

    </div>


    <!-- end Search Box -->

    <!-- Page Footer -->
    <footer id="page-footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                                <hr>
                                <a href="#" class="link-arrow">Read More</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Recent Properties</h3>
                                <div class="property small">
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <img alt="" src="assets/img/properties/property-06.jpg">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <a href="property-detail.html"><h4>2186 Rinehart Road</h4></a>
                                        <figure>Doral, FL 33178 </figure>
                                        <div class="tag price">$ 72,000</div>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property small">
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <img alt="" src="assets/img/properties/property-09.jpg">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <a href="property-detail.html"><h4>2479 Murphy Court</h4></a>
                                        <figure>Minneapolis, MN 55402</figure>
                                        <div class="tag price">$ 36,000</div>
                                    </div>
                                </div><!-- /.property -->
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Useful Links</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="#">All Properties</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Login and Register Account</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2013. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<div id="overlay"></div>
	{% if map %}

  	{{ map.html.render|safe }}
  	<script>
    	{{ map.script.render|safe }}
  	</script>
	{% endif %}
</body>
</html>

